# This timer unit is for backing up WAL segments
#

[Unit]
Description=timer unit is for backing up WAL segments
Requires=PostgreSQL@archive_wal.service

[Timer]
Unit=PostgreSQL@archive_wal.service
OnCalendar=*-*-* *:00:00



[Install]
WantedBy=timers.target
