# This timer unit is for PostgreSQL base backup 
#

[Unit]
Description=This timer unit is for PostgreSQL base backup
Requires=PostgreSQL@pg_full_backup.service

[Timer]
Unit=PostgreSQL@pg_full_backup.service
OnCalendar=*-*-* 19:30:00
# Evert day at 19:30:00


[Install]
WantedBy=timers.target


