# This timer unit is for PostgreSQL base backup 
#

[Unit]
Description=This timer unit is for PostgreSQL base backup
Requires=PostgreSQL@postgres_backup.service

[Timer]
Unit=PostgreSQL@postgres_backup.service
OnCalendar=*-*-* 19:30:00


[Install]
WantedBy=timers.target
