# /etc/systemd/system/pgbt.service
# It's not recommended to modify this file in-place, It is recommended to use systemd
# "dropin" feature;  i.e. create file with suffix .conf under
# /etc/systemd/system/pgb.service.d directory overriding the
# unit's defaults. You can also use "systemctl edit pgb"
# Look at systemd.unit(5) manual page for more info.



[Unit]
Description=PG maintenace task service triggered by timer
#Documentation='No documentation for now'
After=syslog.target
After=network.target
After=multi-user.target
# After=postgresql@15-main.service
Wants=%I.timer

[Service]
Type=oneshot

User=postgres
Group=postgres

Environment=PGDATA=/var/lib/postgresql/15/main/
Environment=SCHOME=/var/lib/postgresql/scripts/
WorkingDirectory=/var/lib/postgresql/scripts/

# Where to send early-startup messages from the server
# This is normally controlled by the global default set by systemd
# StandardOutput=syslog

# Disable OOM kill on the scripts
OOMScoreAdjust=-1000
Environment=PGB_OOM_ADJUST_FILE=/proc/self/oom_score_adj
Environment=PGB_OOM_ADJUST_VALUE=0


ExecStart=/bin/nohup ./%I.sh


[Install]
WantedBy=multi-user.target


