# /etc/systemd/system/pgbt.service

[Unit]
Description=PG maintenace task service (%i) triggered by timer
#Documentation='No documentation for now'
After=syslog.target
After=network.target
After=multi-user.target
# After=postgresql@15-main.service
Wants=%i.timer


[Service]
Type=simple

User=postgres
Group=postgres

Environment=PGDATA=/var/lib/postgresql/15/main/
# pg data dir as an env variable for the service execution
Environment=SCHOME=/var/lib/postgresql/scripts/
WorkingDirectory=/var/lib/postgresql/scripts/

# Where to send early-startup messages from the server
# This is normally controlled by the global default set by systemd
# StandardOutput=syslog


# Prevent respawning
Restart=no


# Disable timeouts
TimeoutStartSec=0
TimeoutStopSec=0
# Ensure service exits after completion
RemainAfterExit=no
# Log output to journal (syslog)
StandardOutput=journal
StandardError=journal



OOMScoreAdjust=-1000
Environment=PGB_OOM_ADJUST_FILE=/proc/self/oom_score_adj
Environment=PGB_OOM_ADJUST_VALUE=0
# Disable OOM kill on the service to increase its resilience.


ExecStart=/var/lib/postgresql/scripts/%I.sh


[Install]
WantedBy=multi-user.target
